$selection: #55f

*
	font-family: Helvetica
	font-weight: 300

body 
	margin: 0
	padding: 0
	overflow: hidden



#map 
	position: absolute
	top: 40px
	left: 0
	right: 0
	bottom: 0




header
	position: absolute
	top: 0
	height: 40px
	left: 0
	right: 0
	background: #333
	color: white
	>*
		display: inline-block
	b
		font-size: 30px
		padding: 3px







aside
	position: absolute
	top: 40px
	left: 0
	background: transparent

	>*
		opacity: 0.99
		background: white
		margin: 2px
		width: 100%
		border-collapse: collapse

@media (min-width:10cm)
	aside
		width: 10cm

@media (max-width:10cm)
	aside
		right: 0






#origin,#destination
	font-size: 25px
	td
		white-space: nowrap	

	.icon 
		width: 40px
		color: gray
		text-align: center
	.city
		color: $selection
		font-weight: 500
	.region
		color: silver
	td
		padding: 7px
	.close 
		width: 40px
		color: gray
		font-weight: bold
		text-align: right
		cursor: pointer





#dates,#times
	white-space: nowrap
	overflow: scroll
	text-align: center
	div
		width: 50px
		overflow: hidden
		padding: 7px
		display: inline-block
		text-align: center
		cursor: pointer

		>span
			display: block
		.day,.month
			color: gray
			font-size: 12px
		.date,.time
			font-size: 25px
		.time .minute
			font-size: 25px
			color: silver
			margin-left: -8px
			font-weight: 100
		.duration
			font-size: 12px
			color: silver
			display: none

		&.selected
			>.date
				color: $selection
				font-weight: 600
			>.month,>.day
				color: $selection
			>.time
				.hour
					color: $selection
					font-weight: 600
				.minute
					color: $selection


#times>div
	width: 60px

#fares
	white-space: nowrap
	overflow: scroll
	text-align: center
	>div
		width: 120px
		overflow: hidden
		padding: 7px
		display: inline-block
		text-align: center
		cursor: pointer

		.class
			color: silver
			display: none
		.fare
			color: black
			font-weight: 500
			font-size: 20px
		.price
			color: #555
			font-weight: 500
		.duration
			color: gray
			display: none

		&.selected
			.fare
				color: $selection
			.class
				color: $selection





#people div
	font-size: 25px
	padding: 7px
	text-align: center
	.count
		font-weight: 600
		color: $selection
	.price,.currency
		float: right
		color: #5f5
		font-weight: 500
		display: none
	.plus,.minus
		cursor: pointer
		background: #aaa
		color: white
		border-radius: 100px
		padding: 0 7px





#buy div
	padding: 7px
	background: #55f
	color: white
	font-size: 25px
	cursor: pointer
	text-align: center

